

/* my styings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
   
}

.top_nav{
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: gray;
    padding-top: 1rem;
    width: 100%;
    position: absolute;
    height: 75px;
}
#tab_container{
    position: relative;
    top: -70px;
}
.welcome_message_img{
    z-index: 0;
}
.welcome_message_text{
    position: relative;
    top: 200px;
    text-align: center;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    
}

#tabs{
    /* margin-top: 2rem; */
    padding-left: 6rem;
    padding-right: 12rem;
    border:  none;
}
.flight_inputs,
.hotel_inputs,
.cars_inputs{
    border:  6px solid #635EF8 !important;
    border-radius: 5px;
    height: 240px !important;
    background: #fff;
}
   



#from_Destination,
#to_textDestination,
#passenger_Destination,
#departure_Date,
#seat_class,
.search_flight,
#city_input,
#check_in_input,
#check_out_input,
#no_of_rooms_input,
#search_button,
#from_text_cars,
#to_text_cars,
#date_input_car,
#time_input_car,
#search_button_car{
    width: 17rem;
}


/* flights styling */
.first_input_row{
    margin-top: 1rem;
}
.second_input_row{
    margin-top: 3rem;
}
#seat_class,
#to_textDestination{
    margin-left: 3rem;
}
#passenger_Destination{
    width: 17rem;
    margin-left: 6rem;
}
.search_flight{
    margin-top: 2rem;
    width: 90%;
    margin-left: 6rem;
}


 .flight_inputs{
    margin-left:7rem;
    border:  1px solid grey;
    padding-left: 12%;
    width: 1100px;
    height: 290px;
}
/* button styling */

.search_flight{
    /* font-size:  */
    width: 17rem;
   background-color:#635EF8 !important;
}
#search_button{
    font-size: 15px;
    width: 17rem;
    background-color:#635EF8 !important;
}
#search_button_car{
    font-size: 15px;
    width: 17rem;
    background-color:#635EF8 !important;   
}
/* button styling */

/* hotels styling */
.hotel_inputs{
    margin-left:7rem;
    border:  1px solid grey;
    padding-left: 12%;
    width: 1100px;
    height: 290px;
}
.city_text_row{
    margin-top: 2rem;
}


#check_in_input,
#check_out_input,
#search_button{
    width: 80%;
}
#search_button{
    margin-top: 1.9rem;
    height: 40px;
}
.cars_inputs{
    margin-left:7rem;
    border:  1px solid grey;
    padding-left: 12%;
    width: 1100px;
    height: 290px;
}
.cars_inputs_row{
    margin-top: 2rem;
}
#search_button_car{
    margin-top: 2rem;
    height: 40px;
}

#date_input_car{
    width: 80%;
}
#search_button_car{
    width: 45%;
}

.welcome_message_div{
    background-image: url(../images/wallpaper.jpg),

}





/* mymediaQueries start */


@media (min-width: 290px ) and (max-width: 768px ){
    #tabs{
        
        display: inline;
    }
    .flight_inputs,
    .hotel_inputs,
    .cars_inputs{
        margin-left:2px;
        border:  6px solid #635EF8 !important;
        border-radius: 5px;
        padding-left: 5%;
        max-width: 450px;
        height: 660px;
    }
    #from_Destination,
    #to_textDestination,
    #passenger_Destination,
    #departure_Date,
    #seat_class,
    .search_flight,
    #city_input,
    #check_in_input,
    #check_out_input,
    #no_of_rooms_input,
    #search_button,
    #from_text_cars,
    #to_text_cars,
    #date_input_car,
    #time_input_car,
    #search_button_car{
        width: 92%;
        margin-left: 5px;
    }

    




   
}
@media (min-width: 576px ) and (max-width: 768px ){
  
    
  
    .flight_inputs,
    .hotel_inputs,
    .cars_inputs{
        margin-left: 5rem;
        max-width: 100%;
        height: 660px;
    }

   

    #from_Destination,
    #to_textDestination,
    #passenger_Destination,
    #departure_Date,
    #seat_class,
    .search_flight,
    #city_input,
    #check_in_input,
    #check_out_input,
    #no_of_rooms_input,
    #search_button,
    #from_text_cars,
    #to_text_cars,
    #date_input_car,
    #time_input_car,
    #search_button_car{
        width: 92%;
        margin-left: 5px;
    }
    #from_Destination{
        width: 9rem;
       
    }
    #to_textDestination{
        width: 9rem;
        margin-left: 1rem;
    }
    #passenger_Destination{
        width: 9rem;
    }
    
}

@media (max-width: 768px ) {
    .flight_inputs,
    .hotel_inputs,
    .cars_inputs{
    
        height: 300px;    
       
    }
}


/* mymediaQueries end */


